  .top-bar-container {
    height: 40px;
    width: 100vw;
    background: #21353E;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 0;
  }
  .top-bar-left-section {
    font-size: 22.5px;
    font-weight: 700;
    padding-left: 22px;
    display: flex;
  }
  .top-bar-right-section{
    display: flex;
    justify-content: flex-end;
  }
  .dot {
    height: 25px;
    width: 25px;
    background-color: #385561;
    border-radius: 50%;
    margin-right: 10px;
  }

  @media only screen and (min-width: 600px){
    .ant-input {
      height: 25px;
      width: 250px !important;
    }
    .top-bar-right-section{
      width: 360px;
    }
    .slide-menu-mobile{
      display: none;
    }
    .ant-select, .ant-select-auto-complete, .ant-select-single, .ant-select-show-search{
      width: 250px !important;
    }
  }

  @media only screen and (max-width: 600px){
    .ant-input {
      height: 25px;
      width: 100px !important;
    }
    .top-bar-right-section{
      width: 250px;
    }
    .slide-menu-mobile{
      display: block;
    }
    .top-bar-left-section {
      font-size: 18px;
    }
    .ant-select, .ant-select-auto-complete, .ant-select-single, .ant-select-show-search{
      width: 110px !important;
    }
  }